<%= form_for @recipe do |f| %>
	<%f.label :title%>
  	Recipe Name<br> <%= f.text_field :title %><p>
Ingredients <br>
	<%=f.fields_for :ingredients do |ingredient|%>
	<%= ingredient.label :name %></br>
	<%= ingredient.text_field :name %></p>
	<%= ingredient.label :quantity %></br>
	<%= ingredient.text_field :quantity %></p>


	<%end%>



  <%= f.submit %>

<% end %>
